@model MicroFrontend.Models.PatientDetailViewModel

@{
    ViewData["Title"] = "Détails et modification du patient";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Details" method="post">
    <!-- Champ caché pour l'ID du patient -->
    <input type="hidden" asp-for="Patient.Id" />

    <div class="form-group">
        <label asp-for="Patient.Nom" class="control-label"></label>
        <input asp-for="Patient.Nom" class="form-control" />
        <span asp-validation-for="Patient.Nom" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Prenom" class="control-label"></label>
        <input asp-for="Patient.Prenom" class="form-control" />
        <span asp-validation-for="Patient.Prenom" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.DateNaissance" class="control-label"></label>
        <input asp-for="Patient.DateNaissance" class="form-control" type="date" />
        <span asp-validation-for="Patient.DateNaissance" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Genre" class="control-label"></label>
        <select asp-for="Patient.Genre" class="form-control">
            <option value="0" selected="@(Model.Patient.Genre == 0 ? "selected" : null)">Homme</option>
            <option value="1" selected="@(Model.Patient.Genre == 1 ? "selected" : null)">Femme</option>
        </select>
        <span asp-validation-for="Patient.Genre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Adresse" class="control-label"></label>
        <input asp-for="Patient.Adresse" class="form-control" />
        <span asp-validation-for="Patient.Adresse" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Telephone" class="control-label"></label>
        <input asp-for="Patient.Telephone" class="form-control" />
        <span asp-validation-for="Patient.Telephone" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Notes" class="control-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>

<h3>Notes du Patient</h3>
@if (Model.Notes == null || !Model.Notes.Any())
{
    <p>Aucune note trouvée pour ce patient.</p>

}
else
{

    <ul>
        @foreach (var note in Model.Notes)
        {
            <li>
                <strong>@note.CreatedAt.ToLocalTime()</strong> – <pre>@note.Content</pre>

            </li>
        }
    </ul>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
